# Environment variables
.env

# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
/node_modules
/bower_components

# Production directories
/build
/dist

# Miscellaneous
.DS_Store